*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Josefin Sans, sans-serif;
  font-weight: 400;
}

body{
  min-height: 100vh;
  background-color: rgb(62, 149, 133);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1{
  font-size: 5rem;
  text-align: center;
  margin-top: 25px;
}

.container{
  display:flex;
  justify-content: space-around;
  align-items: end;
}

.display{
  font-size: 6rem;
  width: 450px;
  height: 300px;
  margin: auto;
  border-radius: 50%;
  background-color: rgb(255, 255, 255,0.7);
  box-shadow: 0 9px #999;

  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  font-size: 1.3rem;
  width: 180px;
  height: 80px;
  margin-bottom: 100px;
  background-color: rgb(255, 255, 255,0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 9px #999;
}

button:hover{
  border: 2px solid rgb(255, 255, 255,0.7);
}

button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (max-width: 580px){
  .display{
    width: 350px;
    height: 233px;
  }
  button{
    width: 120px;
    height: 62px;
  }
}